* {
  padding: 0;
  margin: 0;
}
ul, ol {
  list-style: none;
}
#pad {
  background: #fff;
}
body {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
}
.actions {
  margin-top: 10px;
  margin-right: 5px;
}
.actions > svg {
  padding: 5px;
  width: 1.5em;
  height: 1.5em;
  transition: all .3s;
}
/*加选择效果*/
.actions > svg.active {
  transform: scale(1.5);
}
.colors > li {
  width: 1.5em;
  height: 1.5em;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.colors {
  margin-right: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.colors > li.red {
  background: red;
}
.colors > li.green {
  background: green;
}
.colors > li.blue {
  background: blue;
}
.colors > li.black {
  background: black;
}
.colors > li.active {
  transform: scale(1.5);
  transition: all .3s;
}
/* empty */
#empty svg.reset {
  padding: 15px 5px 5px 5px;
  width: 1.5em;
  height: 1.5em;
}
.lines {
  width: 2em;
  height: 2em;
  margin: 5px auto;
}
.lines > .lv1 {
  height: 0;
  width: 25px;
  padding-top: 20px;
  border-top: 3px solid #000;
}
.lines > .lv2 {
  height: 0;
  width: 25px;
  padding-top: 20px;
  border-top: 6px solid #000;
}
.lines > .lv3 {
  height: 0;
  width: 25px;
  padding-top: 20px;
  border-top: 10px solid #000;
}