html, body {
  padding: 0;
  margin: 0;
}
#pad {
  background: #ddd;
}
.actions {
  position: fixed;
  top: 5px;
  left: 5px;
}
.actions > #brush {
  display: none;
}
.actions > #eraser {
  display: inline-block;
}
/*使用橡皮*/
.actions.on > #eraser {
  display: none;
}
.actions.on > #brush {
  display: inline-block;
}